{% extends 'weather/base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block search %}
<div class="mx-auto mb-3 " style="max-width: 600px;">
    <div class="container">
        <div class="row mb-3">
            <h3>Самая актуальная погода на {% now mY%}!</h3>
            <hr>
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Введите название города" name="location">
                    <button type="submit" class="btn btn-primary">Поиск</button>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}

{% block last_location %}
{% if last_location %}
<div class="mx-auto mb-3 " style="max-width: 600px;">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="location" value="{{ last_location.location }}">
            <button type="submit" class="btn btn-link btn-block">Показать погоду в локации: {{ last_location.location }}</button>
        </form>
</div>
{% endif %}
{% endblock %}